.latest,
.other-albums {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 4vh;
}

@media only screen and (max-width: 1150px) {
  .latest,
  .other-albums {
    flex-direction: column;
    align-items: center;
  }
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  /* background-color: blue; */
}

.other-albums .album {
  margin-bottom: 4vh;
}

.album p {
  margin-top: 10px;
}

.album img {
  height: 450px;
  width: auto;
}

.album a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.album a:hover {
  color: var(--light-grey);
}
